h1{
  border: solid black 3px;
  font-family: "Verdana";
  font-size: 36px;
}

h3{
  font-size: 30px;
  font-family: "Calibri";
}

body{
	background: #EEEEFF;
}

div{
width: 100%;
margin: 6pt;
}

a{
	font-size: 14px;
	color: 
}